<div class="banner">
    <div class="container">
      <h1 class="banner-title-1">Bram Schevenels</h1>
      <h2 class="banner-title-2">Web development</h2>
      <!--<span
          class="txt-rotate"
          data-period="2200"
          data-rotate='[ "Acquisition Manager.", "Growth Manager."]'></span>-->
      
      <!-- <a class="btn btn-outline-custom1" href="#section-0"> View More </a>
      <a class="btn btn-outline-custom2" href="mailto:martin@fansfinger.com"> Let's Talk</a> -->
    </div>
  </div>