<div class="footer">
    <div class="icons">
      <i class="fab fa-linkedin"></i><i class="fab fa-github"></i>
    </div>
    <p class="footer_info">
      Designed & Coded with <i class="fas fa-heart"></i> by Verissimus
    </p>
</div>

